@font-face {
    font-family: 'destroy_earth_bb';
    src: url('assets/font/destroyearthbb-webfont.woff2') format('woff2'),
         url('assets/font/destroyearthbb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rockwellbold';
    src: url('assets/font/rockwell-bold-webfont.woff2') format('woff2'),
         url('assets/font/rockwell-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'distrobold';
    src: url('assets/font/distro_bold-webfont.woff2') format('woff2'),
         url('assets/font/distro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'calibriregular';
    src: url('assets/font/calibri-regular-webfont.woff2') format('woff2'),
         url('assets/font/calibri-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
--font-main: 'calibriregular', sans-serif;
--font-title: 'destroy_earth_bb', sans-serif;
--font-header: 'rockwellbold', sans-serif;
--font-special: 'distrobold', sans-serif;
--font-size-base: 16px;
--font-title: 2rem;
--font-size-scaled: calc(min(3.8vmin, var(--font-size-base)));
--font-size-label-scaled: calc(min(4vmin, var(--font-size-base)));
--font-size-title-scaled: calc(min(4vmin, var(--font-title)));
--bar-size-scaled: calc(min(5vmin, var(--font-title)));
--card-width: 15rem; 
--card-width-small: 10rem;
--aspect-ratio: 89 / 64; 
--card-height: calc(var(--card-width) * var(--aspect-ratio));
--card-height-small: calc(var(--card-width-small) * var(--aspect-ratio));
--primary-color: #231F20;
--brown-color: #BA6F35;
--brown-light: #BA6F35;
--green-med: #495034;
--camo-color: #6D6654;
--tan-color: #F3DAC0;
--orange-dark: #F39233;
--orange-med: #F39F24;
--orange-light: #F6AE5B;
--gray: #A9BAB4;
}



* {
margin: 0;
padding: 0;
box-sizing: border-box;
touch-action: manipulation;
}

html {
font-size: var(--font-size-base);
}

body {
font-family: var(--font-main);
background-color: var(--primary-color);
color: whitesmoke;
}

h1 {
color: var(--primary-color);
/* font-weight: 900; */
font-size: var(--font-size-title-scaled);
font-family: 'destroy_earth_bb';
text-decoration-line: none;
/* text-transform: uppercase; */
}

h1 .title__text-green {
    color: var(--green-med);
}
h1 .title__text-camo {
    color: var(--camo-color);
}

h2, h3, h4 {
    font-family: 'rockwellbold', sans-serif;
    color: var(--primary-color);
}

h4 {
font-size: x-small;
font-weight: lighter;
}

a {
text-decoration: none;
color: var(--orange-med);
transition: .3ms all ease-in-out;
}
a:hover {
text-decoration: underline;
color: var(--orange-dark);
}

input {
    color: var(--orange-med);
    font-size: larger;
    font-weight: 700;
    border: var(--orange-light);
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    padding: .2rem;
}
/* input:focus {
    color: #FEA72E;
    font-size: larger;
    font-weight: 700;
    border: #FEA72E;
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    padding: .2rem;

} */

.radio__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--brown-color);
    background-color: var(--primary-color);
}
  
.radio__button:checked {
/* border: 2px solid var(--brown-color); */
background-color: var(--orange-med);
outline: var(--primary-color) solid 2px;
}



/******************************/
/* Nav Stuff */
/******************************/
.container {
background: var(--primary-color);
min-height: 100vh;
/* font-family: --; */
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--orange-med);
    border-right: var(--primary-color) double 5px;
    outline: var(--orange-med) double 5px;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0px 0px 21px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px 12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px 12px rgba(0,0,0,0.75);
}

nav a {
    display: block;
    /* font-size: 1rem; */
    width: 5rem;
    color: var(--primary-color);
    text-decoration: none;
    /* padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem; */
    padding: .3rem;
    text-align: center;
    /* box-shadow: inset 0 0 8px rgba(33, 33, 33, 0.03); */
    transition: all .4s ease-in-out;
    white-space: normal;
    /* font-family: var(--font-header); */
    font-family: 'destroy_earth_bb';
    border-bottom: transparent dashed 5px;
    border-top: transparent dashed 5px;
    transition: all .3s ease-in-out;
}

nav a:hover {
    background-color: var(--primary-color);
    border-bottom: var(--orange-med) dashed 5px;
    border-top: var(--orange-med) dashed 5px;
    color: var(--orange-med);
    text-decoration: none;
}

.page {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    
    text-align: center;
} 

/* .page h1 {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    opacity: 0;
} */

/* Styles applied on trigger */
.page:target {
    opacity: 1;
    position: absolute;
    left: 5rem;
    right: 0;
    width: calc(100% - 5rem);
    height: 100%;
    z-index: 10;

}

.page:target {
opacity: 0;
animation: 2s fadeIn forwards .5s;
}

/* .page:not(:target) {
opacity: 0;
animation: fadeOut 0.5s forwards;
} */


#hub {
/* background:var(--primary-color); */
background: url("assets/imgs/wmbg.webp") center/cover repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#roster {
/* background: var(--primary-color); */
background: url("assets/imgs/wmbg.webp") center/cover repeat;
display: grid;
grid-template-rows: 5rem 1fr;
columns: 1fr;
}

#roster h1 {
    text-align: left;
    padding-left: var(--font-size-title-scaled);
}

#battle {
background: var(--green-med);
display: grid;
grid-template-rows: 5rem 1fr;
columns: 1fr;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
}

#info {
background:var(--primary-color);
display: grid;
grid-template-rows: 5rem 1fr;
columns: 1fr;
text-align: left;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
}

/**********************************************/
/* General Page Stuff */
/**********************************************/
.logo__main {
    max-width: 175px;
}
.in-page__input {
    outline: 2px solid var(--brown-color);
    color: whitesmoke;
    transition: .3s all ease-in-out;
}
.in-page__input:focus {
    outline: 2px solid var(--orange-med);
    color: var(--tan-color);
}

.in-page__input[title] {
    position: relative;
}
.in-page__input[title]:hover:after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.in-page__input[title]:hover:after {
    opacity: 1;
}

#chat-feed { 
    background-color: var(--tan-color);
    color: var(--primary-color);
    overflow: scroll; 
    /* list-style-type: none;  */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0; 
    padding: 0; 
    text-align: left;
    max-height: 20rem;
    outline: var(--orange-med) solid 1px;
    border-radius: 3px;
  }
#chat-feed > p { padding: 0.5rem; }
#chat-feed > p:nth-child(odd) { 
background: var(--brown-color); 
color: var(--tan-color);
}

#player-name, #joinLobby, #msgInput {
    font-family: 'rockwellbold', sans-serif;
    font-weight: 300;
}

#makeLobby {
    font-weight: normal;
    font-family: 'distrobold', sans-serif;
}

.info__container {
    /* position: relative;
    left: 1rem; */
    display: flex;
    /* max-width: min-content; */
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: .5rem;
    overflow-y: scroll;
}

.page__divider_big {
    border-top: .3rem dashed var(--orange-med);
    color: transparent;
    /* border-top-right-radius: .3rem; */
}
.page__divider_small {
    border-top: 2px dashed var(--orange-med);
    color: transparent;
    /* border-top-right-radius: .3rem; */
}

/**********************************************/
/* Dropdown Boxes */
/**********************************************/
.expandable {
    /* max-width: 80vw;
    margin: 1em 0; */
    font-size: var(--font-size-scaled);
}

.solid__container {
    display: grid;
    grid-template-rows: auto 1fr;
}


.solid__content {
    padding: 0;
    font-weight: 700;
    border: 3px solid var(--brown-color);
    border-top: none;
    border-radius: 0 0 .3rem .3rem;
    overflow: hidden;
    background-color: var(--tan-color);
}

.solid__content p {
    padding: 0 1rem 1rem 1rem;
    font-weight: normal;
    margin: 0;
    font-size: var(--font-size-scaled);
    /* height: 8rem; */
    display: flex;
    align-items: flex-end;
}

.expandable--open .expandable__content-wrapper {
    grid-template-rows: 1fr;
}

.expandable__title-bar {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding: .7rem;
    background-color: var(--orange-med);
    font-size: large;
    border-radius: .5rem .5rem 0 0;
    font-family: 'rockwellbold', sans-serif;
    cursor: pointer;
}
.solid__title-bar {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding: .7rem;
    background-color: var(--orange-med);
    font-size: large;
    border-radius: .5rem .5rem 0 0;
    font-family: 'rockwellbold', sans-serif;
}

#save-edit {
    font-family: 'rockwellbold', sans-serif;
}

.solid__title-bar button {
    font-size: large;
    font-weight: 500;
    border-width: 0;
    padding: 0;
    font-family: var(--font-main);
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.expandable__icon {
    /* opacity: 1; */
    transition: 0.3s ease;
}

.expandable__content {
    padding: 0;
    font-weight: 700;
    border: 3px solid var(--brown-color);
    border-top: none;
    border-radius: 0 0 .3rem .3rem;
    overflow: hidden;
    background-color: var(--tan-color);
}

ul {
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .3rem;
}

/* #currentAbilityDisplay {
    height: 3rem;
} */

/* .short-list {
    height: 3rem;
} */

li, label.loader, .expandable__content-btn-holder button {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px ridge var(--brown-color);
    background-color: var(--green-med);
    color: whitesmoke;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-size: var(--font-size-scaled);
    /* position: relative; */
}

li:hover, label.loader:hover, .expandable__content-btn-holder button:hover {
    color: var(--orange-med);
    border: 2px ridge var(--orange-med);
}

li.selected, .search__selected {
    background-color: var(--orange-med);
    color: var(--brown-color);
}

li.selected:hover {
    background-color: var(--orange-med);
    color: var(--green-med);
    border: 2px ridge whitesmoke;
}

.expandable__content-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
}

/* ************************** */
/*         Dialogs!!          */
/* ************************** */
.dialog__description {
    top: 5%;
    width: 93vw;
    text-align: center;
}

.dialog__prompt[open] {
    /* position: absolute;
    top: 50%;
    left: calc(50% + 2.5rem);
    width: var(--card-width);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 300;
    width: var(--card-width);
    height: var(--card-width);
    justify-content: center;
    color: #212121;
    background-color: var(--orange-med);
    transition:.2s ease-in-out;
    border-radius: 10px;
    border: #482D1B groove 2px; */
    width: 100%;
    height: 6rem;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--orange-light);
    color: var(--primary-color);
    border-color: var(--brown-color);
}

#dialog__prompt-main {
    position: absolute;
    top: 50%;
    left: calc(50% + 2.5rem);
    width: var(--card-width);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 300;
    width: var(--card-width);
    height: var(--card-width);
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--orange-med);
    transition:.2s ease-in-out;
    border-radius: 10px;
    border: var(--brown-color) groove 2px;
}

#dialog__prompt-main[open] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
}
#dialog__prompt-main button {
    border-width: 0;
    padding: .5rem;
    border-radius: 25%;
    color: whitesmoke;
    background-color: var(--green-med);
    font-family: var(--font-main);
    cursor: pointer;
}
#dialog__prompt-main button:hover {
    border-width: 0;
    padding: .5rem;
    border-radius: 25%;
    color: var(--orange-dark);
    background-color: var(--primary-color);
    font-family: var(--font-main);
    cursor: pointer;
}

#dialog__prompt-points {
    /* padding: .3rem; */
    text-align: left;
    background-color: var(--green-med);
    transition: border-color 0.3s ease-in-out;
    border-radius: 10px;
    border: var(--orange-med);
    border-style: double;
    border-width: 3px;
    box-shadow: .1rem -.3rem 1rem .1rem rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    z-index: 999;
}
#dialog__prompt-points p {
    font-size: xx-small;
}
#dialog__prompt-points[open] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* grid-template-rows: 1fr 1fr; */
    gap: .5rem;
}

#dialog__prompt-points input {
    color: var(--orange-med);
    font-size: larger;
    font-weight: 700;
    border: var(--orange-med);
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    padding: .2rem;
    max-width: 6rem;
}

#dialog__prompt-points input[title] {
    position: relative;
}
#dialog__prompt-points input[title]:hover:after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

#dialog__prompt-points input[title]:hover:after {
    opacity: 1;
}

#dialog__prompt-points input:focus {
    border-color: var(--tan-color);
    outline: none;
}

#dialog__prompt-points button {
    border-width: 0;
    border-radius: 25%;
    background-color: var(--orange-med);
    font-family: var(--font-main);
    cursor: pointer;
}

.dialog__butons-container {
    display: flex;
    justify-content: left;
    gap: .3rem;
}

.hr__inner {
    opacity: 0;
    height: .5rem;
    border-width: 0;
}

.info__button-box {
    /* background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    align-self: center; */
    border: whitesmoke solid 1px;
    background-color: var(--primary-color);
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 100%;
    align-self: center;
    cursor: pointer;
}
.info__button-icon {
    /* color: whitesmoke;
    align-self: center;
    width: var(--font-size-scaled);
    height: var(--font-size-scaled);
    padding: .1rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    display: block;
}

/****************************/
/*//Unit Card Area//*/
/****************************/
.card-container {
    /* background-color: var(--primary-color); */
    background-color: transparent;
    display: grid;
    /* Repeat rows based on height variable */
    grid-template-rows: repeat(auto-fill, var(--card-height));
    margin-top: 2rem;
    /* Repeat columns based on width variable */
    grid-template-columns: repeat(auto-fill, var(--card-width));
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
    place-content: center;
}

.card {
    color: var(--primary-color);
    transition:.2s ease-in-out;
    display: grid;
    border-radius: 10px;
    border: var(--brown-color) groove 2px;
    box-shadow: .1rem -.3rem 1rem .1rem rgba(0, 0, 0, 0.5);
    grid-template-areas:
        "h h h h h h"
        "i i i i i s"
        "t t t t t s"
        "a a a a a s"
        "b b b b b s";
    grid-template-rows: 2rem auto 2rem 6rem 1rem;
    user-select: none;
    max-width: var(--card-width);
    max-height: var(--card-height);
    background: url("assets/imgs/wmbg.webp") center/cover no-repeat, linear-gradient(to right, rgba(243, 218, 192, 0.8) 0%, rgba(68, 79, 51, 0.8) 100%);
}

.card:hover {
transform: translateY(-1rem) scale(1.05);
}

.status-bar {
    grid-area: h;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(250, 172, 47, 0.8);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-right: var(--brown-color) groove 2px;
    border-top: var(--brown-color) groove 2px;
    border-left: var(--brown-color) groove 2px;
    border-bottom: var(--brown-color) double 3px;
}
.status-bar span {
    vertical-align: middle;
}
.status-bar ion-icon {
    vertical-align: middle;
}

.card-img {
    grid-area: i;
    /* display: block; */
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
    object-fit: contain;
    border-left: var(--brown-color) groove 2px;
}

.card-title {
    grid-area: t;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(254, 167, 46, 0.8) 0%, rgba(255, 138, 0, 0.8) 100%);
    color: var(--primary-color);
    overflow: auto;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    font-size: large;
    font-weight: 700;
    border-left: var(--brown-color) groove 2px;
    border-bottom: var(--brown-color) double 3px;
    border-top: var(--brown-color) double 3px;
}

.abilities {
    grid-area: a;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: var(--brown-color) groove 2px;
}
.abilities p {
    text-align: left;
    font-weight: 600;
}

.side-bar {
    grid-area: s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 7px;
    border-left: var(--brown-color) double 3px;
    border-right: var(--brown-color) groove 2px;
    border-bottom: var(--brown-color) groove 2px;
}

.side-bar p {
    color: var(--primary-color);
    filter: grayscale(100%);
}

.card-footer {
    grid-area: b;
    font-size: .4rem;
    text-align: center;
    border-left: var(--brown-color) groove 2px;
    border-bottom: var(--brown-color) groove 2px;
    border-bottom-left-radius: 7px;
}

/* #unit-type {
    text-align: right;
}

#unit-footer {
    text-align: left;
} */

.page__welcome-header h1 {
    font-size: 10vw; 
    text-align: center;
    width: 100%
}
/* .page__welcome-header h1 span {
    font-size: 10vw;
} */


.page__unit-header {
    /* height: 5rem; */
    /* text-align: center; */
    /* color: whitesmoke; */
    /* font-size: 5vw;  */
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding-bottom: 2rem; */
    /* z-index: -1; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    align-items: center;
    z-index: 20;
}

.page__battle-header {
    /* height: 5rem; */
    /* text-align: center; */
    /* color: whitesmoke; */
    /* font-size: 5vw;  */
    padding: 1rem;
    /* padding-bottom: 2rem; */
    /* z-index: -1; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    align-items: center;
    z-index: 20;
}
.page__battle-header h1 {
    text-align: left;
    padding-left: 1rem;
}

/* .player-info {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
} */

#info-btn {
    color: var(--orange-dark);
    font-size: 50px;
    border: var(--brown-color);
    border-style: double;
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}

#info-btn:hover {
    border-color: var(--tan-color);
    transform: scale(1.05);
}

#points-display {
    background-color: var(--primary-color);
    color: var(--orange-med);
    font-size: larger;
    /* font-family: var(--font-special); */
    font-weight: 700;
    border: var(--orange-med);
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    padding: .2rem;
}

.points-display {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: .5rem .5rem .5rem .5rem;
    /* background-color: rgba(0, 0, 0, 0.001); */
    background-color: var(--primary-color);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    border: #482D1B;
    border-style: double;
    border-width: 3px;
    /* box-shadow: .1rem -.3rem 1rem .1rem rgba(0, 0, 0, 0.5); */
    -webkit-box-shadow: 2.5px 5px 5px -1.25px rgba(68, 79, 51, 1);
    -moz-box-shadow: 2.5px 5px 5px -1.25px rgba(68, 79, 51, 1);
    box-shadow: 2.5px 5px 5px -1.25px rgba(68, 79, 51, 1);
    cursor: pointer;
    font-family: var(--font-header);
    font-weight: lighter;
}

.points-display:hover {
    background-color: var(--green-med);
    border-color: var(--tan-color);
    box-shadow: none;
}


/* ******************** */
/* Edit Form */
/* ******************** */
.edit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 300;
}

.edit-container {
    background: var(--gray);
    padding: 20px;
    width: 100%;
    height: 100%;
}

#editForm {
    display: grid;
    gap: .5rem;
    margin-top: 1rem;
    grid-template-areas:
            "a a"
            "b b"
            "c c"
            "d d"
            "e e";
    padding-bottom: 1rem;
    color: var(--primary-color);
}

#editForm fieldset[class] {
    border: none;
    padding: 0;
    margin: 0;
}

#editForm fieldset:not([class]) {
    border-color: var(--primary-color);
    border-style: dotted;
    padding: .5rem;
    font-weight: 400;
}

#editForm fieldset:not([class]) legend {
    font-weight: 500;
    
}

.form__input {
    width: 100%;
    outline: none;
}
.form__input:focus {
    outline: 2px solid var(--orange-med);
}

.type__container {
    grid-area: a;
}
.ability__container {
    grid-area: b;
}
.image__container {
    grid-area: c;
}
.stats__container {
    grid-area: d;
}
.btn__container {
    grid-area: e;
}

.btn__container .expandable__content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#img__area {
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap: .5rem;
    font-weight: normal;
}

.expandable__content-btn-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: .5rem .5rem .5rem .5rem;
    text-align: center;
}

/* .expandable__content-btn-holder button {
    background-color: #444F33;
    color: whitesmoke;
    padding: .3rem;
    font-family: var(--font-main);
    font-weight: normal;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
} */

#uploadImage {
    display: none;
}

label.loader, .expandable__content-btn-holder button {
    padding: .3rem;
    font-weight: normal;
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    border-radius: 2px;
}

#fileLabel {
    max-width: 50vmin;
    overflow: auto;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

#unit-image-display {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: scale-down;
}

input[type="text"],
input[type="number"] {
  background-color: var(--primary-color);
  border: none;
  color: whitesmoke;
  font-size: var(--font-size-base);
  font-family: var(--font-main);
  font-weight: 800;
}

.addTo {
    display: flex;
    align-items: center;
    text-align: center;
    width: var(--card-width);
    height: var(--card-width);
    justify-content: center;
    background: rgba(33, 33, 33, 1);
    transition: border-color 0.3s ease-in-out;
}

.addTo:hover {
    transform: none;
    border-color: var(--orange-dark);
    background-color: rgba(0, 0, 0, 0.5)
}

.addTo:hover p {
    text-decoration: underline;
}

.addTo p {
    font-size: 8px;
    text-align: center;
    /* text-shadow: none; */
    color: whitesmoke;
}

.addTo ion-icon {
    font-size: 4rem;
    align-self: center;
    color: var(--orange-med);
}

/******************************/
/* War Sheet */
/******************************/
#war {
    background: var(--green-med);
    padding-left: 2.5rem;
    padding-right: 2rem;
    text-align: left;
    font-family: var(--font-header);
    font-weight: lighter;
    display: grid;
    grid-template-areas: 
        "tup tup tup"
        "tle tle tle"
        "prm prm prm"
        "pla pla pla"
        "bt1 bt1 bt1"
        "bt2 bt2 bt2"
        "bt3 bt3 bt3"
        "bt4 bt4 bt4";
    
}

.war-sheet__title-banner {
    grid-area: tup;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    background-color: black;
    color: whitesmoke;
    font-family: var(--font-header);
}
.war-sheet__title-banner h1 {
    color: whitesmoke;
}

.war-sheet__header {
    grid-area: tle;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    border-bottom: var(--gray) dashed 2px;
}
.banner__block {
    width: 18vmin;
    border-top: var(--green-med) dashed 2px;
    border-bottom: var(--green-med) dashed 2px;
}
.orange {
    background-color: var(--orange-med);
}

.war-sheet__premise {
    grid-area: prm;
    text-align: left;
}

.spark-card {
    grid-area: bt1;
}

.war-sheet__players {
    grid-area: pla;
    display: grid;
    grid-template-areas: 
        "p1n p1a p1a"
        "p2n p2a p2a"
        ;
        align-items: center;
}
.war-sheet__players :nth-child(1) {
    grid-area: p1n;
    border-bottom: var(--gray) dashed 2px;
}
.war-sheet__players :nth-child(2) {
    grid-area: p1a;
    border-bottom: var(--gray) dashed 2px;
}
.war-sheet__players :nth-child(3) {
    grid-area: p2n;
    border-bottom: var(--gray) dashed 2px;
}
.war-sheet__players :nth-child(4) {
    grid-area: p2a;
    border-bottom: var(--gray) dashed 2px;
}

.war-sheet__battle-card {
    display: grid;
    grid-template-areas: 
        "bn bn bn"
        "des vic not"
        "det det img"
        ;
}

.war-sheet__battle-card :nth-child(1) {
    grid-area: bn;
}
.war-sheet__battle-card :nth-child(2) {
    grid-area: des;
}
.war-sheet__battle-card :nth-child(3) {
    grid-area: vic;
    
}
.war-sheet__battle-card :nth-child(4) {
    grid-area: not;
}
.war-sheet__battle-card :nth-child(5) {
    grid-area: det;
}
.war-sheet__battle-card :nth-child(6) {
    grid-area: img;
    
}

.war-sheet__battle-card__victory {
    padding-left: .2rem;
    padding-right: .2rem;
    display: flex;
    gap: .2rem;
    align-content: center;
    justify-content: space-between;
}

.war-sheet__battle-card__details p {
    border-bottom: var(--gray) dashed 2px;
    font-size: smaller;
}
.war-sheet__battle-card__details span {
    font-family: var(--font-main);
    font-size: smaller;
    font-weight: lighter;
}

.war-sheet__battle-card__map {
    border: var(--gray) solid 1px;
    border-radius: 3px;
}
 
/* ******************** */
/* Game Board */
/* ******************** */
.queue {
    /* position: relative;
    left: 1rem; */
    display: flex;
    /* max-width: min-content; */
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: .5rem;
}

.queue button {
    font-family: var(--font-main);
    font-weight: 700;
    color: var(--tan-color);
    background-color: var(--brown-color);
    border-color: var(--tan-color);
    border-radius: 1px;
    padding: .2rem;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.queue button:hover {
    color: var(--primary-color);
    background-color: var(--orange-med);
    border-color: var(--tan-color);
    border-radius: 1px;
    padding: .2rem;
    cursor: pointer;
}

#canvas-container {
    display: none;
    position: absolute;
    left: 15rem;
    top: 20rem;
    width: 40px;
    height: 20px;
}

canvas {
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-container { 
    position: absolute;
    left: 30rem;
    top: 30rem;
    width: 300px;
    height: 200px;
    background: url(../public/assets/images/map.png) no-repeat no-repeat;
    transform: scale(3);
    image-rendering: pixelated;
    display: none;
}
  
  
  /* label {
    display: block;
    font-weight: bold;
  } */
  
  /* input[type="text"],
  button {
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    height: 44px;
    border-radius: 4px;
    outline: 0;
  }
  
  input[type="text"] {
    outline: 0;
    padding-left: 0.5em;
    border: 3px solid #222034;
    width: 250px;
    text-transform: uppercase;
  }
  input[type="text"]:focus {
    border-color: var(--orange-med);
  }
  
  button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #59ff5a;
    border: 0;
    border-bottom: 2px solid #1e830b;
    cursor: pointer;
  }
  button:active {
    position: relative;
    top: 1px;
  } */
  
  /* Characters */
  .grid-cell {
    position: absolute;
    width: 16px;
    height: 16px;
  }
  .Character {
    transition: transform 0.4s;
  }
  .Character.you {
    z-index: 1;
  }
  .Character.you .Character_you-arrow {
    display: block;
  }
  .Character_you-arrow {
    display: none;
    position: absolute;
    top:-18px;
    left: 5px;
    width: 7px;
    height: 5px;
    background: url(../public/assets/images/arrow.png) no-repeat no-repeat;
  }
  .Character_sprite {
    overflow: hidden;
    top: -3px;
    background: url(../public/assets/images/characters.png);
  }
  .Character[data-direction="right"] .Character_sprite {
    background-position-x: 16px;
  }
  .Character[data-color="red"] .Character_sprite {
    background-position-y: -16px;
  }
  .Character[data-color="orange"] .Character_sprite {
    background-position-y: -32px;
  }
  .Character[data-color="yellow"] .Character_sprite {
    background-position-y: -48px;
  }
  .Character[data-color="green"] .Character_sprite {
    background-position-y: -64px;
  }
  .Character[data-color="purple"] .Character_sprite {
    background-position-y: -80px;
  }
  .Character_shadow {
    background: url(../public/assets/images/shadow.png) no-repeat no-repeat;
  }
  
  .Character_name-container {
    position: absolute;
    top: -12px;
    left: -5px;
    font-size: 5px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .Character_coins {
    margin-left: 1px;
    color: gold;
  }
  
  /* Coins */
  .Coin_sprite {
    background: url(../public/assets/images/coin.png) no-repeat no-repeat;
    animation: coinFloat 0.8s linear infinite alternate-reverse;
  }
  @keyframes coinFloat {
    from { transform: translateY(0) }
    to { transform: translateY(5px) }
  }
  .Coin_shadow {
    background: url(../public/assets/images/coin-shadow.png) no-repeat no-repeat;
  }

/* @media (min-width: 600px) {
    #editForm {
        grid-template-areas:
            "a a f f"
            "a a e e"
            "a a d d"
            "b b c c"
            "b b c c"
            "b b c c";
    }

    #editForm,
    button,
    li,
    ul,
    #editForm * {
        font-size: 2vmin;
        line-height: normal;
        
    }
} */

/* @media (max-width: 400px) {
    .main-head {
      grid-template-columns: 1fr 2fr 1fr;
    }
  
    #points-display-box {
        margin-top: .5rem; 

        position: fixed;
        bottom: 0;

        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        background-color: #212121;
        z-index: 2;
    }

    #editForm {
        z-index: 9999;
    }
  } */



@keyframes fadeIn {
100% { opacity:1 }
}
/* @keyframes fadeOut {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
} */

@media (max-width: 400px) {

    /* body {
        max-width: 100svw;
    }

    .container {
        max-width: 100svw;
    } */
    nav {
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: min-content;
        width: 100%;
        border-right: none;
        border-top: #482D1B double 5px;
    }

    nav a {
        font-size: 2.5rem;
        text-decoration: none;
        padding: .3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
        align-items: center;
    }

    .page:target {
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* .page h1 {
        font-size: 8vw;
    } */

    .page__unit-header {
        padding-top: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }

    .card-container {
        margin-top: 1rem;
        grid-template-rows: repeat(auto-fill, var(--card-height-small));
        grid-template-columns: repeat(auto-fill, var(--card-width-small));
        /* padding-top: 0; */
        padding-bottom: 4rem;
    }
    
    .card {
        max-width: var(--card-width-small);
        max-height: var(--card-height-small);
        font-size: var(--font-size-scaled);
    }

    .card h2 {
        font-size: var(--font-size-scaled);
    }

    .card img {
        max-height: 50px;
        width: 100%;
        object-fit: contain;
    }

    .grid-container :nth-child(2) {
        grid-area: i;
        place-content: center;
        background-color: #000;
    }

    #roster {
        /* display: flex;
        flex-direction: column; */
        /* bottom: 3rem; */
        grid-template-rows: 1fr 8fr;
        padding-bottom: 3rem;
    }

    .addTo {
        max-height: var(--card-width-small);
    }

    /* .card-img {
        height: 100%;
        width: fit-content;
        object-fit: cover;
    } */

    .edit-container {
        padding: .5rem;
        width: 100%;
        height: 100%;
    }

    #editForm {
        margin-top: 0;
    }
    #editForm label {
        font-size: var(--font-size-scaled);
    }

    #editForm fieldset:not([class]) legend {
        font-size: var(--font-size-scaled);
    }

    #fullAbilityList li,
    #fullTypeList li {
        font-size: var(--font-size-scaled);
        font-weight: 500;
    }

    .expandable__title-bar,
    .solid__title-bar {
        padding: .5rem;
        font-size: var(--font-size-label-scaled);
    }

    .solid__content input {
        font-size: var(--font-size-scaled);
    }

    
    .expandable__content-btn-holder label, 
    .expandable__content-btn-holder button, 
    .expandable__content-btn-holder p {
        font-size: var(--font-size-scaled);
    }

    .solid__title-bar button, #name__header {
        font-size: var(--font-size-label-scaled);
    }
}

@media (min-width: 900px) {
    #editForm {
        grid-template-areas:
            "b e d"
            "b a d"
            "b c d"
            "b x d";
    }
}